*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26.25px;
}

.main {
  min-width: 320px;
}

.container {
  width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.container_skills {
  width: 1150px;
}

/* Section */

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_grey {
  background: #EEEFF1;
}

.section_blue {
  background: #34547A;
  color: #ffffff;
}

.section_header {
  padding-top: 80px;
  padding-bottom: 150px;
}

/* Button */

.button {
  background: #34547A;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: #28405e;
}

.button_intro {
  padding: 18px 40px;
}

/* Info Block */

.info-block {
  margin: 0 auto;
  width: 540px;
}

.info-block_about {
  padding-top: 20px;
}

.info-block__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.info-block__text {
  color: #727272;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link a {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s linear;
}

.nav__link a:hover {
  color: #34547A;
}

.nav__link:not(:last-child) {
  margin-right: 40px;
}

.intro {
  display: flex;
  margin-top: 160px;
}

.intro__inner {
  margin-left: 140px;
}

.intro__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.intro__text {
  margin-bottom: 60px;
  color: #727272;
}

/* Project */

.project {
  display: flex;
  justify-content: space-between;
}

.project-item {
  width: 16%;
  display: flex;
}

.project-item__logo {
  margin-right: 20px;
}

.project-item__inner {
  text-align: left;
}

.project-item__title {
  font-size: 21px;
  font-weight: 500;
}

/* Skills */

.skills {
  display: flex;
  justify-content: space-between;
}

.skills__image {
  width: 555px;
  height: 450px;
}

.skills__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.skills__title {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__item-name {
  margin-bottom: 20px;
  color: #727272;
}

.skills__line {
  width: 445px;
  height: 4px;
  position: relative;
  background: #C4C4C4;
}

.skills__line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 350px;
  height: 4px;
  background: #34547A;
}