*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26.25px;
}

.main {
  min-width: 320px;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.container_skills {
  max-width: 1150px;
}

/* Section */

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section_grey {
  background: #EEEFF1;
}

.section_blue {
  background: #34547A;
  color: #ffffff;
}

.section_header {
  padding-top: 80px;
  padding-bottom: 150px;
}

/* Button */

.button {
  background: #34547A;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: #28405e;
}

.button_intro {
  padding: 18px 40px;
}

.button_form {
  margin: 0 auto;
  width: 200px;
  font-size: 14px;
  padding: 20px;
}

/* Info Block */

.info-block {
  margin: 0 auto;
  width: 540px;
}

.info-block__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}

.info-block__text {
  color: #727272;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__link a {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s linear;
}

.nav__link a:hover {
  color: #34547A;
}

.nav__link:not(:last-child) {
  margin-right: 40px;
}

/* Intro */

.intro {
  display: flex;
  margin-top: 160px;
}

.intro__inner {
  margin-left: 140px;
}

.intro__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.intro__text {
  margin-bottom: 60px;
  color: #727272;
}

/* About */

.about {
  padding-top: 20px;
}

/* Project */

.numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbers__item {
  width: 16%;
  display: flex;
}

.numbers__logo {
  margin-right: 20px;
}

.numbers__inner {
  text-align: left;
}

.numbers__title {
  font-size: 21px;
  font-weight: 500;
}

/* Skills */

.skills {
  display: flex;
  justify-content: space-between;
}

.skills__image {
  max-width: 555px;
  max-height: 450px;
}

.skills__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.skills__title {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__item-name {
  margin-bottom: 20px;
  color: #727272;
}

.skills__line {
  width: 445px;
  height: 4px;
  position: relative;
  background: #C4C4C4;
}

.skills__line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 350px;
  height: 4px;
  background: #34547A;
}

/* Work */

.work__video {
  position: relative;
  cursor: pointer;
}

.video-preview {
  max-width: 1110px;
  max-height: 600px;
  margin-top: 60px;
  opacity: 0.9;
  transition: opacity 0.2s linear;
}

.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  transform: translateX(-50%) translateY(-50%);
}

.video-preview:hover {
  opacity: 1;
}

.video-preview:hover + .video-play {
  display: block;
}

/* Projects */

.projects__row {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  width: 25%;
  height: 480px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.projects__image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.projects__overlay {
  width: 100%;
  height: 100%;
  background: rgba(52, 84, 122, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.projects__image + .projects__overlay:hover {
  opacity: 1;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
}

/* Contacts */

.contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  margin: 0 auto;
}

.form {
  width: 540px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 65px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.user-data {
  display: flex;
  justify-content: space-between;
}

.form__input {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 0;
  outline: none;
}

.data-field {
  width: 255px;
  height: 50px;
  margin-bottom: 20px;
}

.message {
  width: 100%;
  height: 175px;
  margin-bottom: 50px;
  padding: 20px 20px;
  resize: none;
}

/* Footer */

.footer {
  padding: 50px 0;
  background: #34547A;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.author {
  color: #ffffff;
  text-align: left;
  line-height: 24px;
}

.author__name {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
}

.copyright {
  font-size: 13px;
}

/* .social {
  text-align: center;
} */

.social__link:not(:last-child) {
  margin-right: 22px;
}

.social__img {
  margin-top: 20px;
}

/* Media */

@media (max-width: 1279px) {

  .container {
    max-width: 900px;
  }

  .section_header {
    padding-top: 20px;
  }

  .section_blue {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .header-logo {
    margin: 20px;
  }

  .intro__inner {
    margin-left: 0;
  }

  .intro__title {
    font-size: 36px;
    margin-bottom: 45px;
  }

  .intro__text {
    margin-bottom: 45px;
    padding: 0 35px;
  }

  .intro__image {
    margin-bottom: 50px;
  }

  .info-block {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 auto;
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .numbers__item {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .numbers__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 90px;
  }

  .skills {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .skills__inner {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .skills__line {
    width: 300px;
  }

  .skills__line:after {
    width: 245px;
  }

  .skills__image {
    margin: 0 auto;
    max-width: 90vw;
  }

  .skills__title {
    margin-top: 100px;
    text-align: center;
  }

  .work {
    margin: 0 auto;
    text-align: center;
  }

  .work__video {
    margin-top: 55px;
  }

  .video-preview {
    margin: 0 20px;
    max-width: 650px;
  }

  .form-container {
    margin-top: 40px;
  }

  .form {
    max-width: 100vw;
    margin: 0 auto;
  }

  .user-data {
    flex-direction: column;
  }

  .data-field {
    width: 300px;
    height: 50px;
    margin: 10px auto;
  }

  .message {
    width: 300px;
    height: 175px;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {

  .intro {
    flex-direction: column;
    justify-content: center;
  }

  .nav {
    display: none;
  }
  
  .intro__image {
    width: 300px;
  }

  .video-preview {
    margin: 0 20px;
    max-width: 280px;
  }

}